extends layout


block content
    .content.mt-3
      .animated.fadeIn
        .row
          .card
            .card-header
              strong Create a building
            .card-body.card-block
              form(action='/buildings' method='post')

                .col-lg-6
                  .card
                    .card-header
                      strong Généralités
                    .card-body.card-block
                      .form-group
                        label.form-control-label(for='batiment') Nom du batiment
                        input#nom.form-control(type='text' name='nom' data-validation="length" data-validation-length="max5" placeholder='Entree le nom du batimen' required)
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='type') Type
                            input#type.form-control(type='text' name='type' placeholder='Entree le type' value='School' required)
                        .col-6
                          .form-group
                            label.form-control-label(for='categorie') Catégorie
                            input#categorie.form-control(type='text' name='categorie' placeholder='Catégorie' required)
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='ville') Ville
                            input#ville.form-control(type='text' name='ville' placeholder='Enter your city' value='Saint-quentin' required)
                        .col-6
                          .form-group
                            label.form-control-label(for='postal-code') Code Postal
                            input#code-postal.form-control(type='text' name='postalCode' placeholder='Postal Code' value='2100' required)
                      .form-group
                        label.form-control-label(for='addresse') Addresse
                        input#addresse.form-control(type='text' name='addresse' placeholder="Entree l'addresse")
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='date') Date de construction
                            input#date.form-control(type='text' name='date' placeholder='JJ/MM/YYY' required)
                        .col-6
                          .form-group
                            label.form-control-label(for='surface-totale') Surface totale
                            input#surface-totale.form-control(type='text' name='surfaceTotale' data-validation='number' data-validation-allowing='float' placeholder='Entree le surface' required)
                      .form-group
                        label.form-control-label(for='usage-principale') Usage Principale
                        input#usage-principale.form-control(type='text' name='usagePrincipale' placeholder='Usage Principale' required)
                      .form-group
                        label.form-control-label(for='compacite') Compacité
                        input#compacite.form-control(type='text' name='compacite' placeholder="Entree le compacité")
                      .form-group
                        label.form-control-label(for='nombre-de-batiment') Nombre de Batiment
                        textarea#nombe-de-batiment.form-control(name='nombreDeBatiment' rows='3' placeholder='Content...')
                      .form-group
                        label.form-control-label(for='nombre-de-niveaux') Nombre de Niveaux
                        textarea#nomdre-de-niveaux.form-control(name='nombreDeNiveaux' rows='3' placeholder='Content...')
                      .form-group
                        label.form-control-label(for='periode-de-occupation') Periode de Occupation Dex Locaux
                        textarea#periode.form-control(name='periodeDeOccupation' rows='3' placeholder='Content...')
                      .form-group
                        label.form-control-label(for='hauteur-sous-plafond-moyenne') Hauteur Sous Plafond Moyenne
                        textarea#hauteur-sous-plafond.form-control(name='hauteurSousPlafond' rows='3' placeholder='Content...')

                  .card
                      .card-header
                        strong Dpec
                      .card-body.card-block
                          .row.form-group
                            .col.col-md-3
                              label.form-control-label(for='dpec') Dpec
                            .col-12.col-md-9
                              input#dpec.form-control-file(type='file' name='dpec' multiple='')
                      
                .col-lg-6
                  .card
                    .card-header
                      strong Caractéristique climatiques
                    .card-body.card-block
                      .form-group
                        label.form-control-label(for='zone-climatique') Zone Climatique
                        input#zone-climatique.form-control(type='text' name='zoneClimatique' placeholder='Entree le zone climatique')
                      .form-group
                        label.form-control-label(for='temp-ext-de-base') Temp Ext de Base
                        input#temp-ext.form-control(type='text' name='tempExt' placeholder='Temp')
                      .form-group
                        label.form-control-label(for='orientation-principale') Orientation Principale
                        textarea#orientation-principale.form-control(name='orientationPrincipale' rows='3' placeholder='Content...')

                  .card
                    .card-header
                      strong Surface par usage
                    .card-body.card-block
                        .form-group
                            label.form-control-label(for='surface-totale') Surface totale
                            input#surface-totale.form-control(type='text' name='surfaceTotale' placeholder='Entree le surface en m3' required)

                  .card
                    .card-header
                      strong Réparition des Différentes Zones
                    .card-body.card-block
                        .row.form-group
                          .col.col-md-3
                            label.form-control-label(for='plan') Plan
                          .col-12.col-md-9
                            input#plan.form-control-file(type='file' name='plan' multiple='')
                  .card
                    .card-header
                      strong Façades
                    .card-body.card-block
                        .row.form-group
                          .col.col-md-3
                            label.form-control-label(for='image') Image
                          .col-12.col-md-9
                            input#image.form-control-file(type='file' name='image' multiple='')

                  .card
                    .card-header
                      strong Equipements
                    .card-body.card-block
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='chauffage') Chauffage
                            input#chauffage.form-control(type='text' name="chauffage" placeholder='chauffage')
                        .col-6
                          .form-group
                            label.form-control-label(for='ventilation') Ventilation
                            input#ventilation.form-control(type='text' name='ventilation' placeholder='ventilation')
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='eclairage') Eclairage
                            input#eclairage.form-control(type='text' name='eclairage' placeholder='eclairage')
                        .col-6
                          .form-group
                            label.form-control-label(for='sanitaire') Sanitaire
                            input#sanitaire.form-control(type='text' name='sanitaire' placeholder='sanitaire')
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='electromenager') Electromenager
                            input#electromenager.form-control(type='text' name='electromenager' placeholder='electromenager')
                        .col-6
                          .form-group
                            label.form-control-label(for='bureautique') Bureautique
                            input#bureautique.form-control(type='text' name='bureautique' placeholder='bureautique')
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='ecs') ECS
                            input#ecs.form-control(type='text' name='ecs' placeholder='ecs')
                        .col-6
                          .form-group
                            label.form-control-label(for='renouvellement-d-air') Renouvellement d'Air
                            input#renouvellement-d-air.form-control(type='text' name='renouvellementDAir' placeholder='renouvellement d air')
                  
                .col-lg-6
                  .card
                    .card-header
                      strong Consommation
                    .card-body.card-block
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='conso-gaz') Consommation de GAZ
                            input#conso-gaz.form-control(type='text' name='consoGaz' placeholder='GAZ')
                        .col-6
                          .form-group
                            label.form-control-label(for='link-conso-gaz') Link de consommation de GAZ
                            input#link-conso-gaz.form-control(type='text' name='linkConsoGaz' placeholder='Link')
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='conso-elec') Consommation de ELEC
                            input#conso-elec.form-control(type='text' name='consoElec' placeholder='ELEC')
                        .col-6
                          .form-group
                            label.form-control-label(for='link-conso-elec') Link de consommation de ELEC
                            input#link-conso-elec.form-control(type='text' name='linkConsoElec' placeholder='Link')
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='conso-eau') Consommation de EAU
                            input#conso-eau.form-control(type='text' name='consoEau' placeholder='EAU')
                        .col-6
                          .form-group
                            label.form-control-label(for='link-conso-eau') Link de consommation de EAU
                            input#link-conso-eau.form-control(type='text' name='linkConsoEau' placeholder='Link')
                      .row.form-group
                        .col-6
                          .form-group
                            label.form-control-label(for='conso-eau-chaude') Consommation de EAU chaude
                            input#conso-eau-chaude.form-control(type='text' name='consoEauChaude' placeholder='Eau chaude')
                        .col-6
                          .form-group
                            label.form-control-label(for='link-conso-eau-chaude') Link de consommation de EAU chaude
                            input#link-conso-eau-chaude.form-control(type='text' name='linkConsoEauChaude' placeholder='Link')

                .col-lg-6
                  .card
                    .card-header
                      strong Maintenance
                    .card-body.card-block
                      .form-group
                        label.form-control-label(for='maintenance') Maintenance
                        textarea#maintenance.form-control(name='maintenance' rows='4' placeholder='Content...')
                
                  .card
                    .card-header
                      strong Tag
                    .card-body.card-block
                      .form-group
                        label.form-control-label(for='tag') Tags
                        textarea#tag.form-control(name='tag' rows='3' placeholder='Content...')
                    
            
                button.btn.btn-primary.btn-sm(type='submit')
                  i.fa.fa-dot-circle-o
                  |  Submit
                button.btn.btn-danger.btn-sm(type='reset')
                  i.fa.fa-ban
                  |  Reset
          