extends ../templates/layout
block content
	.row
		.col-lg-3
				a(href='/buildings/schedule') LA Manufacture
					hr
					img(style='width:100%; height:400px' src='/images/model.png')
		.col-lg-3
				a(href='/buildings/schedule') Restaurant scolaire François Collery
					hr
					img(style='width:100%; height:400px' src='/images/Restaurant-Scolaire-Collery.jpg')
		.col-lg-3
				a(href='/buildings/schedule') Centre Social Saint-Martin
					hr
					img(style='width:100%; height:400px' src='/images/Centre-Social-Saint-Martin.jpg')
		.col-lg-3
				a(href='/buildings/schedule') Maison de Services
					hr
					img(style='width:100%; height:400px' src='/images/Maison-de-services.jpg')