#mapid {
	height: calc(100vh - 145px);
}

#map {
	width: 100%;
	height: 800px;
}

#info {
	height: calc(100vh - 145px);
}


#information1 {
	overflow-x: hidden;
	overflow-y:auto;
}

.leaflet-tooltip.my-labels {
	background-color: transparent;
	border: transparent;
	box-shadow: none;
	font-weight: bold;
	font-size: 12px;
}

.big-size {
	font-size: 4em !important;
}

.images {
	width: 100%;
}

#model .link {
	position: absolute;
	right: 18%;
	color: #343a40;
	font-size: 20px;
	font-weight: bold;
}

.login-logo {
	text-align: center;
	margin-bottom: 15px;
}

.login-logo span {
	color: #ffffff;
	font-size: 24px;
}

.login-content {
	max-width: 540px;
	margin: 2vh auto;
}

.login-form {
	background: #ffffff;
	padding: 30px 30px 20px;
	border-radius: 2px;
}

.login-form h4 {
	color: #878787;
	text-align: center;
	margin-bottom: 50px;
}

.login-form .checkbox {
	color: #878787;
}

.login-form .checkbox label {
	text-transform: none;
}

.login-form .btn {
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px;
	border: 0px;
}

.login-form label {
	color: #878787;
	text-transform: uppercase;
}

.login-form label a {
	color: #ff2e44;
}

.social-login-content {
	margin: 0px -30px;
	padding: 30px 0px;
}

.social-button {
	padding: 0 30px;
}

.social-button .facebook {
	background: #3b5998;
	color: #fff;
}

.social-button .facebook:hover {
	background: #344e86;
}

.social-button .twitter {
	background: #00aced;
	color: #fff;
}

.social-button .twitter:hover {
	background: #0099d4;
}

.social-button i {
	padding: 19px;
}

.register-link a {
	color: #ff2e44;
}